// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.polaroids a:after {
  content: attr(title);

}

ul.polaroids { 
  width: auto;
 }

ul.polaroids li { 
  display: inline;
 }

ul.polaroids a { 
  background: #fff;
  display: inline;
  float: left;
  margin: 0 0 20px 0px;
  width: 190px;
  padding: 10px 10px 15px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
 }

ul.polaroids img { 
  display: block;
  width: 190px;
  margin-bottom: 12px;
 }

ul.polaroids a:after { 
  content: attr(title);
 }


ul.polaroids li:nth-child(even) a { 
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
 }

ul.polaroids li:nth-child(3n) a { 
  position: relative;
  top: -5px;
  -webkit-transform: none;
  -moz-transform: none;
 }

ul.polaroids li:nth-child(5n) a { 
  position: relative;
  right: 5px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
 }

ul.polaroids li:nth-child(8n) a { 
  position: relative;
  right: 5px;
  top: 8px;
 }

ul.polaroids li:nth-child(11n) a { 
  position: relative;
  left: -5px;
  top: 3px;
 }



ul.polaroids li a:hover { 
  position: relative;
  z-index: 5;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
 }